nav {margin-left: 200px}

#main-navigation
{
	margin-top:40px
}

#main-navigation ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main-navigation ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:40px;
	line-height:40px;
	padding:0 15px;

}

#main-navigation ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main-navigation ul li.home-page
{
	background:#ddd
}

#main-navigation ul li:hover
{
	background:#f6f6f6
}

#main-navigation ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#main-navigation ul ul li
{
	float:none;
	width:800px
}

.title
{
  line-height: 150px;
}

header
{
  font-family: Roboto;
  font-size: 64px;
  margin-left: 200px;
  color: black;
}

p
{
  margin-left: 200px;
    font-family: verdana;
  font-size: 24px;
  text-align: justify;
  color: black;
background-color: white
}

.justified-containers
{
  display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;
}

#justified-container-1 
{
  width: 850px;
}

.highlighted-text
{
  position: relative;
    text-align: left;
  max-width: 100%;
}

.highlighted-text
{
  display: inline; box-shadow: inset lightblue 0 -0.5em
}





.justified-containers-2{margin-left: 200px;display: grid; grid-template-columns: auto auto auto; grid-gap: 10px}


#justified-container-2 {width: 500px}

header{ 
  font-size: 64px;
  margin-left: 200px;
  
  color: black;}
body {
  background-color: white
    ;
}

textarea {background-color: gray;}

tr {font-size:40px;}


#main-navigation ul ul a
{
	line-height:120%;
	padding:64px 64px
}

#main-navigation ul ul ul
{
	top:0;
	left:100%
}

#main-navigation ul li:hover > ul
{
	display:block
}

.myuxskills{
  background: #ffffff;
  width: 100%;
  padding: 100px 0px;
}

.skilltitle h2{
  color: black;
  font-size: 64px;
  margin: 30px auto;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  text-align: center;
}

.card{
  height: 375px;
  width: 300px;
  padding: 20px 30px;
  background: #f1f1f1;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

h3{
  color: black;
    font-size: 32px;
}

:root {
	--black: #000000;
	--mint: #c9f5d9;
	--blue: #8fdddf;
	
}



.skill-tile-section
{
	text-align: center;
}


.tiles:not(:checked) + label
{
	position: relative;
	display: inline-block;
	padding: 64px;
	width: 110px;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
}

.tiles:not(:checked) + label::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: linear-gradient(298deg, var(--mint), var(--blue));
	z-index: -1;
}

.button{
  
  background-color: #8fdddf;
  color: black;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 9px 20px;
  height: 50px;
  border-radius: 20px;
  transition: .4s;
}

.card .button{
  background-color: #8fdddf;
  color: black;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 20px;
  transition: .4s;
 
}

.button:hover{
  background-color: transparent;
  border: 2px solid #8fdddf;
  cursor: pointer;
}

